body {
    background-image: url("../img/background.jpeg");
    background-size: cover;
}    

#welcome {
    font-family: 'Pacifico', cursive;
}
.container {
    margin: 40px;
    font-family: 'IBM Plex Sans', sans-serif;
}