@using Bakery.Models;

<!DOCTYPE html>
    <head>
        <title>Order Tracker</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Pacifico&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class = "container">
            <h1><span id = "welcome">Welcome, Pierre!</h1></span>
            <h3><a href='/vendors/new'>Add New Vendor</a></h3>
            <h3><a href='/vendors'>View vendors</a></h3>
        </div>
    </body>
</html>






