@using Bakery.Models;

<h3>Vendor: @Model["vendor"].VendorName</h3>
<h4>Vendor Description: @Model["vendor"].VendorDescription</h4>

<h4>Orders: </h4>


<ol>
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.OrderDescription</a></li>
}
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
<p><a href='/vendors/new'>Add another Vendor</a></p>
<p><a href='/vendors'>View all vendors</a></p>
