@using Bakery.Models;

<h1>Order Details: </h1>


<ol>
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.OrderDescription</a></li>
}
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
<a href='/vendors/new'>Add another Vendor</a>
<br>
<a href='/vendors'>View all vendors</a>
