@using Bakery.Models;

<!DOCTYPE html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/styles.css">
        <title>New Order</title>
    </head>
    <body>
        <div class = "container">

            <h3>New Order For @Model.VendorName</h3>

            <form action="/vendors/@Model.Id/orders" method="post">
            <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">

            <p><label for="orderTitle">Order Title: </label>
            <input id="orderTitle" name="orderTitle" type="text"></p>

            <p><label for="orderDate">Order Date: </label>
            <input id="orderDate" name="orderDate" type="date"></p>

            <p><label for="orderDescription">Order Description: </label>
            <input id="orderDescription" name="orderDescription" type="text"></p>

            <p><label for="cookieQuant">Cookie Count: </label>
            <input id="cookieQuant" name="cookieQuant" type="text"></p>

            <p><label for="breadQuant">Bread Count: </label>
            <input id="breadQuant" name="breadQuant" type="text"></p>

            <button class="btn btn-primary btn-sm" type="submit">Submit</button>
            </form>

        </div>
    </body>
</html>
