<form action="/orders" method="post">
  <label for="orderDescription">Vendor Description: </label>
  <input id="orderDescription" name="orderDescription" type="text">
  <button type="submit">Submit</button>
</form>